/* julia.css - 2016.08.09 to 2016.08.23 - Atlee Brink */

head, body {
	width: 100%; height: 100%;
	margin: 0px; padding: 0px; border: 0;
	overflow: hidden;
	display: block;
	background: skyblue;
	font-family: 'Consolas', 'Courier', monospace;
	font-weight: bold;
}

button {
	-webkit-appearance: none;
	background: white;
	pointer-events: auto;
	font-size: 100%;
  border: 0.75px solid black;
	border-radius: 4px;
	cursor: pointer;
	margin: 0px;
}

button:active {
	color: black;
}

.uiText {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	background: none;
	text-shadow: 0px 0px 3px black;
	mix-blend-mode: difference;
}

.translucent {
	background: rgba(255,255,255,0.5);
}

.translucent:active {
	background: rgba(255,255,255,1);
}

.colorInput {
	pointer-events: auto;
	min-width: 4em;
	max-width: 9em;
	width: 95%;
	font-size: 100%; 
	text-align: center;
  border: 0.75px solid black;
	border-radius: 4px;
}

.shadingSelector {
	pointer-events: auto;
	min-width: 4em;
	max-width: 6em;
	width: 95%;
	font-size: 100%;
}

/*
  customized sliders (input[type=range])
	thanks to: https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
	note: I've tweaked these quite a bit from what's on that page
*/

input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	background: none;
	margin: 0px;
	cursor: pointer;
}

input[type=range].vslider {
	position: absolute;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	width: 600px;
	height: 0px;
	margin-top: 300px;
	margin-left: -286px; /* why? */
	background: none;
}

input[type=range].hslider {
  width: 600px;
  height: 48px;
  background: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: lightgray;
  border: 0.75px solid black;
	border-radius: 4px;
	cursor: pointer;
	pointer-events: auto;
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 8px;
	cursor: pointer;
	background: lightgray;
	border: 0.75px solid black;
	border-radius: 4px;
	cursor: pointer;
	pointer-events: auto;
}

input[type=range]::-ms-track {
	width: 100%;
	height: 8px;
	cursor: pointer;
	background: lightgray;
	border: 0.75px solid black;
	border-radius: 4px;
	cursor: pointer;
	pointer-events: auto;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1.5px solid black;
  height: 48px;
  width: 24px;
  border-radius: 8px;
  background: white;
  margin-top: -21.5px; /* weird */
  cursor: pointer;
	pointer-events: auto;
}

input[type=range]::-moz-range-thumb {
	border: 1.5px solid black;
	height: 48px;
	width: 24px;
	border-radius: 8px;
	background: white;
	cursor: pointer;
	pointer-events: auto;
}

input[type=range]::-ms-thumb {
	border: 1.5px solid black;
	height: 48px;
	width: 24px;
	border-radius: 8px;
	background: white;
	cursor: pointer;
	pointer-events: auto;
}
